.logo-img {
    max-height: 64px;
    height: 64px;
    width: 128px
}
md-sidenav, .nav, .nav.md-locked-open, .nav.md-locked-open {
    background-color: #E0E0E0;
    width: 256px;
    max-width: 256px;
    min-width: 256px;
}
.content {
    background-color: #F5F5F5;
}
