.logo-img {
    max-height: 64px;
    height: 64px;
    width: 128px
}
md-sidenav, .nav, .nav.md-locked-open, .nav.md-locked-open {
    background-color: #E0E0E0;
    width: 256px;
    max-width: 256px;
    min-width: 256px;
}
.content {
    background-color: #F5F5F5;
}

md-backdrop.md-opaque{
    background-color: transparent;
    height: 0;
}

md-sidenav.md-sidenav-left.md-closed{
  display: block;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  transform: translate3d(0%, 0, 0);
}

md-sidenav.md-sidenav-left{
    position: static;
    transform: translate3d(0, 0, 0);
}

md-sidenav.md-sidenav-left.md-closed .menu-name,
md-sidenav.md-sidenav-left.md-closed .md-toggle-icon
{
    display: none;
}

md-progress-linear:not([md-mode="indeterminate"]) .md-container{
    height: 3px;
    background-color: transparent;
}

.md-fab.success-button{
    background-color: rgba(92, 184, 92, 1);
}

.md-fab.success-button:not([disabled]):hover{
    background-color: rgba(92, 184, 92, 1);
}

.md-fab.danger-button{
    background-color: rgba(201, 48, 44, 1);
}

.md-fab.danger-button:not([disabled]):hover{
    background-color: rgba(201, 48, 44, 1);
}
