md-sidenav, .nav, .nav.md-locked-open, .nav.md-locked-open {
    background-color: #EEEEEE;
    width: 256px;
    max-width: 256px;
    min-width: 256px;
}
md-backdrop.md-opaque {
    background-color: transparent;
    height: 0;
}
md-sidenav.md-sidenav-left.md-closed {
    display: block;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    transform: translate3d(0%, 0, 0);
}
md-sidenav.md-sidenav-left {
    overflow-x: hidden;
    position: static;
    transform: translate3d(0, 0, 0);
}
md-sidenav.md-sidenav-left header img, md-sidenav.md-sidenav-left .menu-name, md-sidenav.md-sidenav-left .md-toggle-icon {
    visibility: visible;
}
md-sidenav.md-sidenav-left.md-closed header img, md-sidenav.md-sidenav-left.md-closed .menu-name, md-sidenav.md-sidenav-left.md-closed .md-toggle-icon {
    visibility: hidden;
}
md-sidenav.md-sidenav-left header img{
    width: 128px;
}
md-sidenav.md-sidenav-left.md-closed header img{
    width: 0px;
}
.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
}
.docs-menu li {
    margin: 0;
}
.docs-menu > li:nth-child(1) {
    border-top: none;
}
.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.docs-menu .md-button {
    border-radius: 0;
    cursor: pointer;
    display: block;
    margin: 0;
    line-height: 40px;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}
.docs-menu md-select {
    /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
    margin: 0;
    width: 100%;
}
.docs-menu md-select md-select-label {
    justify-content: flex-end;
    padding-top: 10px;
}
.docs-menu md-select md-select-label span {
    margin-right: auto;
    padding-left: 13px;
}
.docs-menu md-select .md-select-icon {
    margin-right: 28px;
}
.docs-menu button.md-button::-moz-focus-inner {
    padding: 0;
}
.docs-menu .md-button.active {
    background: rgba(158, 158, 158, 0.2);
}
.docs-menu li.parentActive, .docs-menu li.parentActive .menu-toggle-list {
    /*background-color: #2C80D2 !important;*/
}
.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
}
.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}
.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.menu-name {
    padding-left: 10px;
}
