<md-content class="md-whiteframe-z1" style="margin-right:20px" layout-padding layout="column" flex>
    <md-content layout-padding>
        <h3>Horizontal</h3>
    </md-content>
    <md-content layout-padding layout>
        <md-input-container flex>
            <label>Title</label>
            <input ng-model="generalFormsCtrl.user.title">
        </md-input-container>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="generalFormsCtrl.user.email" type="email">
        </md-input-container>
    </md-content>
    <md-content layout-padding layout>
        <md-input-container flex="66">
            <label>Company</label>
            <input ng-model="generalFormsCtrl.user.company">
        </md-input-container>
        <md-input-container flex>
            <label>Job</label>
            <input ng-model="generalFormsCtrl.user.job">
        </md-input-container>
    </md-content>
    <md-radio-group ng-model="generalFormsCtrl.data.group1" layout="row">
      <md-radio-button value="Apple">Apple</md-radio-button>
      <md-radio-button value="Banana"> Banana </md-radio-button>
      <md-radio-button value="Mango">Mango</md-radio-button>
    </md-radio-group>
    <md-content layout-padding layout="row">
        <md-checkbox ng-model="generalFormsCtrl.data.cb1" aria-label="Checkbox 1">
              Checkbox 1: {{ generalFormsCtrl.data.cb1 }}
        </md-checkbox>
        <md-checkbox ng-model="generalFormsCtrl.data.cb2" aria-label="Checkbox 2">
              Checkbox 2: {{ generalFormsCtrl.data.cb2 }}
        </md-checkbox>
    </md-content>
</md-content>
<md-content class="md-whiteframe-z1" layout-padding layout="column" flex>
    <md-content layout-padding>
        <h3>Vertical</h3>
    </md-content>
    <md-content layout-padding>
        <md-input-container flex>
            <label>Title</label>
            <input ng-model="generalFormsCtrl.user2.title">
        </md-input-container>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="generalFormsCtrl.user2.email" type="email">
        </md-input-container>
    </md-content>
</md-content>
