<md-button class="md-button-toggle" ng-click="toggle()" ng-class="{'active' : isPageFromSectionSelected()}" ng-disabled="isDisabled()">
    <div flex layout="row" layout-align="start center">
        <md-icon>account_balance</md-icon>
        <span class="menu-name">{{section.name}}</span>
        <span flex=""></span>
        <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : isOpen()}">
            <md-icon>expand_less</md-icon>
        </span>
    </div>
</md-button>
<ul class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link page="page" section="section"></menu-link>
    </li>
</ul>
