<md-sidenav class="nav md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-open="isSidenavOpen ">
    <header layout layout-align="start center" style="height: 64px;">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')">
            <md-icon aria-label="Menu">menu</md-icon>
        </md-button>
        <img alt="" src="img/logo.png" style="height: inherit;"/>
    </header>
    <ul class="docs-menu">
        <li class="parent-list-item" ng-class="{'parentActive' : isSectionSelected(section)}" ng-repeat="section in menu">
            <menu-item section="section"></menu-item>
        </li>
    </ul>
</md-sidenav>
