<h1 class="md-display-2">Informações Básicas</h1>
<md-content layout-align="center start" layout-padding layout>
    <md-input-container flex="33">
        <label>Submission Date</label>
        <input type="text">
    </md-input-container>
</md-content>
<md-content layout-align="center start" layout-padding layout>
    <md-input-container flex="33">
        <label>Submission Date</label>
        <input type="text">
    </md-input-container>
</md-content>
<md-content layout-align="center start" layout-padding layout>
    <md-input-container flex="33">
        <label>Submission Date</label>
        <input type="text">
    </md-input-container>
</md-content>
