<div class="md-whiteframe-z1">
    <md-content class="md-padding">
        <md-progress-linear md-mode="determinate" ng-value="wizardCtrl.progressValue"></md-progress-linear>
        <md-tabs md-border-bottom md-dynamic-height md-no-bar="true" md-stretch-tabs="always" md-selected="wizardCtrl.selected">
            <md-tab ng-repeat="step in wizard.steps">
                <md-tab-label>
                    {{step.Title}}
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding" ng-include="step.url"></md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <!-- <div layout="row" layout-align="center center">
            <md-button class="md-raised md-warn">Cancel</md-button>
            <md-button class="md-raised md-primary">Previous</md-button>
            <md-button class="md-raised md-primary">Next</md-button>
        </div> -->
        <div layout="row" layout-align="space-between center">
            <md-button class="md-fab md-primary" ng-click="wizardCtrl.previous()">
                <md-icon>navigate_before</md-icon>
            </md-button>
            <md-button class="md-fab md-primary" ng-click="wizardCtrl.nextStep()">
                <md-icon>navigate_next</md-icon>
            </md-button>
        </div>
    </md-content>
</div>
